body {
    background-color: #f0f8ff;
    /* Light blue background */
    text-align: center;
    margin-top: 200px;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ff6600;
    /* Orange text */
    font-size: 60px;
    text-shadow: 2px 2px 5px gray;
}
